html, body{
    margin:0;
    font-family:'Space Grotesk', 'serif';
    background-color: #FFFDFA
}

#topSection {
    background-image: linear-gradient(to right, #1E151B, #FF8370);
    position:fixed;
    top:0;
    width:100vw;
    font-weight:lighter;
    padding-top: 17px;
    padding-bottom:17px;
    height:2.5em;
    padding-left: 20px;
    padding-right: 30px;
    z-index: 1000000;
}

h2{
    font-size:32px
}   

h3{
    font-size:20px
}

#dashTitle {
    display:inline;
    color:#FFFDFA;
    padding: 20px;
    font-weight:100;
}

#leftSideTop {
    display:inline;
    width:50%
}

#profileOption{
    color:#1E151B;
    font-weight:100;
    padding-right:20px;
    text-align:right;
    display:inline;
    width:50%
}

#rightSideTop{
    display:inline;
    position:fixed;
    right:0;
    top:18px;
}

#topHelpTitle {
    color:#FF8370
}
.topOptions{
    display:inline;
    color: #FFFDFA;
    padding:20px;
    font-weight:lighter;
    text-align:center;
}

#content {
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 100px;
    font-family: "Space Mono", "monospace";
    font-weight:lighter;
    z-index: -1
}

#helpTitle{
    font-weight:lighter;
    margin-left: 20px;
    font-size: 25px;
    padding-top:15px;
    padding-bottom:0px;
    color:#1E151B;
    margin-bottom:0px
}

h4 {
    color:#426B69;
    padding-bottom:0px;
    margin-bottom:0px;
    padding-left: 40px;
    font-size:22px
}

p {
    padding-left:60px;
    color:#1E151B;
    font-size:18px
}

a{
    color:inherit;
    text-decoration:none;
}
a:hover { 
    text-decoration: none; 
    color:#8BB174
}

.viewEdit{
    background-color:#8BB174;
    border-radius: 17px;
    position:relative;
    display: inline;
    width: 95px;
    border-style: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 12px;
    padding-left: 12px;
    font-weight: lighter;
    color:#1E151B;
    font-family: "Space Mono", "monospace";
}

#viewAll {
    color:#FF8370;
    border-style:none;
    font-family:'Space Mono', monospace;
    font-weight: lighter;
    text-align:center;
}

h5{
    margin-left:50px;
    font-size: 18px;
    color:#1E151B;
}

img{
    width: 60vw;
    text-align:center;
    height:30vw;
    align-self:center;
    margin-left:auto;
    margin-right:auto;
    display:block;
    border-color:#1E151B;
    border-width:4px;
    border-radius:10px;
    border-style:solid
}
