html, body{
    margin:0;
    font-family:"Space Grotesk", "serif";
}

#topSectionSignup {
    /*background-image: linear-gradient(to right, #FF8370, #1E151B);*/
    background-color:#547241;
    position:fixed;
    top:0;
    width:100vw;
    font-weight:lighter;
    padding-top: 17px;
    padding-bottom:17px;
    height:2.5em;
    text-align:center;
    font-family:"Space Grotesk", "serif";
}

h2{
    font-size:32px
}   

h3{
    font-size:20px
}
#content {
    margin-top: 100px;
    font-family: "Helvetica";
    font-weight:lighter;
    width: 100vw;
    background-color:#FFFDFA;
    color:#1E151B;
    text-align:center;
    z-index:-1;
}
#mainTitle{
    display:inline;
    color:#FFFDFA;
    padding: 20px;
    font-weight:100;
    text-align:center;
    margin:auto
}

#contentTitle {
    text-align:center;
    color:#547241;
    padding: 0;
    margin:auto
}

p{
    text-align:center;
    margin: 50px
}

#submitButton {
    background-color:#8BB174;
    border-radius: 25px;
    border-style:none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 30px;
    margin-bottom:0px;
    font-size: 18px;
    color:#FFFDFA
}

#buttonDiv {
    text-align:center;
}

label{
    display:inline;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 16px;
    color:#1E151B;
    font-weight: 900
}

input{
    margin-left:20px;
    margin-top: 30px
}

#emailEnter {
    margin-left:55px
}

#signupDiv {
    background-color:#DDD9D4;
    width: 30vw;
    margin-left: 35vw;
    margin-top: 20px;
    border-radius: 25px;
    opacity: 75%;
    padding-top: 20px;
}


a{
    color:inherit;
    margin-bottom:15px;
}
a:hover { 
    text-decoration: none; 
    color:#8BB174
}

p{
    margin: 5px;
    padding: 15px;
    text-align: center;
}

#details {
    display:inline;
    margin-left: 0vw;
    margin-left: -50px;
}

#contentEdit {
    margin-top: 100px;
    padding-left:15px;
}

#viewDiv {
    background-color:#DDD9D4;
    width: 30vw;
    margin-left: 35vw;
    margin-top: 20px;
    border-radius: 25px;
    opacity: 75%;
    padding-top: 20px;
    padding-left:40px
}
