html, body{
    margin:0;
    font-family:'Gill Sans';
    background-color: #FFFDFA
}

#topSection {
    background-image: linear-gradient(to right, #FF8370, #1E151B);
    position:fixed;
    top:0;
    width:100vw;
    font-weight:lighter;
    padding-top: 17px;
    padding-bottom:17px;
    height:2.5em;
    text-align:center
}

h2{
    font-size:32px
}   

h3{
    font-size:20px
}
#content {
    margin-top: 100px;
    font-family: "Helvetica";
    font-weight:lighter;
    width: 100vw;
    background-color:#FFFDFA;
    color:#1E151B;
    text-align:center;
}
#mainTitle{
    display:inline;
    color:#FFFDFA;
    padding: 20px;
    font-weight:100;
    text-align:center;
    margin:auto
}

#contentTitle {
    text-align:center;
    color:#426B69;
    padding: 0;
    margin:auto
}

p{
    text-align:center;
    margin: 50px
}

#submitButton {
    background-color:#8BB174;
    border-radius: 25px;
    border-style:none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 30px;
    margin-bottom: 0px;
    font-size: 18px;
    color:#FFFDFA
}

#buttonDiv {
    text-align:center;
}

label{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 16px;
    color:#1E151B;
}

input{
    margin-left:20px;
    margin-top: 30px
}

#signupDiv {
    background-color:#DDD9D4;
    width: 30vw;
    margin-left: 35vw;
    margin-top: 20px;
    border-radius: 25px;
    opacity: 75%
}

a{
    color:inherit;
    margin-bottom:15px;
}
a:hover { 
    text-decoration: none; 
    color:#8BB174
}

p{
    margin: 5px;
    padding: 15px
}

